header{background-color: white;
color:green; 
text-align: center;}
footer{background-color: pink; 
color:black; 
text-align: center;}
nav {text-align: center; 
font-size: 100; 
font-family: broadway; 
padding:10px; 
border: 2px solid tomato;
text-decoration:none; 
color:black;}
a:link {color: red; 
text-decoration: none;}
a:visited {color: green;}
a:hover {color: hotpink;}
a:active {color: blue;}
ul {list-style-type: square}
dt {font-weight: bold;
text-decoration: underline}
.fh {text-align: center;
color: green;
font-family:century gothic;}
#contact {text-transform: capitalize;
line-height: 1.8;}
table,th, td {border: 1px solid black;
border-collapse: collapse;
margin-left: auto;
margin-right: auto;}
h3{color:blue;
text-decoration:underline;}
img {float:right;}
